form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 2px solid grey; 
    margin-left : 30vw;
    margin-right : 30vw;
    padding :10px;
}

p{
    display: flex;
    flex-direction: column;
    align-items: center;
}