body{
    background-color: rgb(247, 241, 156);
}

#student_table tr th,td{
    border: 1px solid rgb(20, 20, 20);
    padding :8px;
    text-align: center;
    

}
#student_table{
    border-collapse: collapse;
}

#add-student, #edit-student, #del-student{
    text-decoration: none;
    padding: 2px 6px;
    border : 1px solid black ;
    border-radius: 2px;
    cursor:pointer;
    color:black;

}

#add-student{
    background-color: aquamarine;
}
#edit-student{
    background-color: rgb(104, 199, 132);
    margin: 2px;
}
#del-student{
    background-color: rgb(221, 102, 73);
    margin: 2px;
}